* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

form {
    width: 40%;
    margin: auto;
    text-align: left;
}

form input {
    width: 100%;
    padding: 10px;
    margin: 10px auto;
}

form span{
    color: red;
}

form button {
    width: 50%;
    text-align: center;
    padding: 15px;
    background-color: dodgerblue;
    color: white;
    margin: 0 25%;
}

button:hover{
    cursor: pointer;
}

h1,h2 {
    text-align: center;
}

table {
    margin:100px auto;
    width: 60%;
    border: none;
    border-collapse: collapse;
}

table, th, td {
    text-align: center;
}

tr{
    transition: 0.2s all linear;
    border-bottom: 1px solid #ababab;
}

tr:hover {
    background-color: #eee;
}

th,td{
    border: none;
    padding: 15px;
}

td.quan {
    color: blue;
    font-weight: bold;
}

td.huyen {
    color: black;
    font-style: italic;
}

.signup {
    margin-top: 25px;
    width: 50%;
    border: 1px solid black;
    background: #fff;
}

.signup form {
    width: 100%;
    padding: 30px;
    color: #ababab;
}

.signup span{
    color: red;
}

.signup h2 {
    display: block;
    background: deepskyblue;
    text-align: center;
    color: white;
    padding: 10px;
}

.signup #submit{
    display: block;
    width: auto;
    margin: auto;
    color: white;
    background: deepskyblue;
    transition: 0.3s all linear;
}
.signup #submit:hover{
    cursor: pointer;
    background: darkcyan;
}

.info{
    margin-top: 50px;
    text-align: center;
}
.calculate{
    text-align: center;
}

.calculate form{
    text-align: center;
}
.calculate input{
    padding: 5px;
    width: 100px;
}

.calculate input#submit{
    display: block;
    width: auto;
}

.btn{
    text-decoration: none;
    color: dodgerblue;
}

.btn:hover{
    text-decoration: underline;
    cursor: pointer;
}

.edit{
    margin-right: 15px;
}

.delete{
}